/Mainframe/nbproject/private/
/SensorSentinelJava/nbproject/private/
/Mainframe/build/
/Mainframe/dist/
/helloWorldLearning/nbproject/private/
/helloWorldLearning/build/
/helloWorldLearning/dist/
/WebServer/nbproject/private/
/WebServer/build/
