body {
    margin: 0;
    padding:   0;
    font-family: 'Arial', serif; 
    font-size: 16px;
}

.nav {

    color: lightblue;
    list-style: none; 
    text-align: center;
    padding: 20px 0 20px 0;  
   
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 16px;

}

.nav > li > a {
    text-decoration: none; 
    color: black;

}

.nav > li > a:hover {
    color: lightblue; 
}

.logo {
    color: #000000;
    float: left;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
    
}

.table1 {
    color: #000000;
    float: left;
    padding-left: 4px;
    padding-top: 50px;
    align: center;
    font-size: 16px;
    font-weight: bold;
    
}
.login {

    color: #000000;
    float: right;
    padding-right: 40px;
    font-size: 16px;
    font-weight: bold;

}
.logo > a {
    text-decoration: none; 
    color: #000000;
}
.table1 > a {
    text-decoration: none; 
    color: #000000;
}

.login > a {
    text-decoration: none; 
    color: #000000;
}
.banner {
    width: 100%;
    display: block;

}

.banner > .banner-image {
    width: 100%;
    display: block;
}



.services1 {

    width: 298px;
    border: 2px solid #c1c1c1;
    margin: -20px 30px;
    padding: 0 5px; 
    float: left;


}


.services1 > p {
    font-size: 14px; 
    color: #636363;
    max-width: 250px; 


}

.services {
    width: 1150px;
    margin: 0 auto;
  
}

h1 {
    font-size: 20px; 
    font-weight: blod;
    background-color: lightblue;
    color: black;
    padding: 10px 0;
    margin: 0 -6px;
}

.image {
    max-width: 200px;
    margin: 15px 0 0 0;
}

.heading {
    text-align: center;
    font-size: 25px;
    color: black;
    margin: -40 0 40px 0;
    padding-top: 200px;

}

.image:hover {
    opacity: 0.5;
    max-width: 200px;
    margin-top: 15px;

}


.my_form
{
background-color: transparent;
}


















